$primary-color: #111821;
$secondary-color: #1e2a3a;
$primary-txt-color:rgba(255,255,255,0.7);
$secondary-txt-color: #ffffff;
$link-span-txt-color: #54B689;

@mixin bg-img($img){
  background-image: url('../images/#{$img}');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 16px;
  font-family: 'Sora', Helvetica, sans-serif;
}

body {
  background-color: var(--white);
  color: var(--gray-700);
}

.container{
  display: flex;
  background-color: $primary-color;
}

.wrapper{
  padding: 25px;
}