#main-header__content{
    width: 20vw;
    height: 100vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    hr{
        width: 88%;
        color: $primary-color;
    }

    #main-header__content{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #profile-info__div{
            width: 88%;
            height: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            a{
                color: $primary-txt-color;
                font-weight: bold;
                font-size: 20px;
            }

            a:hover{
                color: $primary-txt-color;
            }

            .main-photo__profile{
                @include bg-img("ivar.jpg");
                height: 180px;
                width: 180px;
                border-radius: 50%;
                margin: 20px;
            }

            p{
                color: $primary-txt-color;
                margin: 0 auto;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }

        .social-media__itens{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a:hover{
                color: $primary-txt-color;
            }
        }

        .itens-link__nav{
            width: 88%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            a{
                background-color: $primary-color;
                width: 100%;
                padding: 10px 0 10px 0;
                border-radius: 15px;
            }
            
            a:hover{
                color: $primary-txt-color;
            }
        }

        a{
            color: $link-span-txt-color;
            text-decoration: none;
            text-align: center;
        }
    }
}